<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>security.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendicionesMapper</servlet-name>
        <servlet-class>mapping.RendicionesMapper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NominasMapper</servlet-name>
        <servlet-class>mapping.NominasMapper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificacionesMapper</servlet-name>
        <servlet-class>mapping.NotificacionesMapper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriaMapper</servlet-name>
        <servlet-class>mapping.HistoriaMapper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractMapper</servlet-name>
        <servlet-class>mapping.ExtractMapper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendicionesMapper</servlet-name>
        <url-pattern>/RendicionesMapper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NominasMapper</servlet-name>
        <url-pattern>/NominasMapper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificacionesMapper</servlet-name>
        <url-pattern>/NotificacionesMapper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoriaMapper</servlet-name>
        <url-pattern>/HistoriaMapper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractMapper</servlet-name>
        <url-pattern>/ExtractMapper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
